/* Responsive Styles */

@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-logo {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 120px;
    }

    .Banner-Section {
        width: 600px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    }

    .banner h1 {
        padding-top: 10px;
        font-size: 32px;
    }

    .banner p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        padding: 2px;
    }

    .banner-inputs form input {
        width: 50%;
        height: 50%px;
        border-radius: 2px;
        background: #FFF;
        display: inline-flex;
        align-items: center;
        text-align: center;
        border: 0;
    }

    .banner-inputs form input {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        display: inline-flex;
        align-items: center;
        text-align: center;
        border: 0;

    }

    .banner-inputs {
        display: inline-flex;
        padding: 16px;
        margin-right: 20px;
        margin-left: 20px;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);

    }

    .Popular-Tours {
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .Popular-Tours>image {
        width: 600px;
        height: 400px;
        padding: 10px;
    }

    .Destinations {
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 10px;

    }

    .first-line-1 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .first-line-1 .text-1 {
        position: absolute;
        color: #FFF;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;

    }

    .first-line-2 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .first-line-2 .text-2 {
        position: absolute;
        color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;



    }

    .second-line-1 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .second-line-1 .text-1 {
        position: absolute;
        color: #FFF;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;

    }

    .second-line-2 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .second-line-2>img {
        width: 600px;
        height: 400px;
    }

    .second-line-2 .text-2 {
        position: absolute;
        color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
    }

    .second-line-3 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .second-line-3>img {
        width: 600px;
        height: 400px;
    }

    .second-line-3 .text-3 {
        position: absolute;
        color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
    }

    .third-line-1 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .third-line-1 .text-1 {
        position: absolute;
        color: #FFF;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;

    }

    .third-line-2 {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        text-align: center;
        position: relative;
        border-radius: 16px;
    }

    .third-line-2>img {
        width: 600px;
        height: 400px;
    }

    .third-line-2 .text-2 {
        position: absolute;
        color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
    }

    .hotel-service-container {
        flex-direction: column;

    }

    .guarantee {
        margin-left: auto;
        margin-top: 20px;
    }

    .Deals {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;

    }

    .Deals h2 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
    }

    .Deals .img-1 {
        /* margin: 0 auto; */
        background-image: url('../images/Group-39.png');
        border-radius: 16px;
        width: 580px;
        height: 400px;
        align-items: center;
        color: white;
        text-align: center;
    }
    .txt-con-1 {
        width: 303px;
        height: 297px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        margin-right: 1000px;
        margin-left: 100px;
        margin-top: 50px;
        padding: 20px;
        color: #131318;
    }
    .Deals .img-2 {
        /* margin: 0 auto; */
        background-image: url('../images/Group-40.png');
        border-radius: 16px;
        width: 580px;
        height: 400px;
        align-items: center;
        color: white;
        text-align: center;
    }

    .txt-con-2 {
        width: 303px;
        height: 297px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 50px;
        padding: 20px;
        color: #131318;
    }

    .price {
        color: #FF5400;
    }
    .see-all{
        margin-top: 20px;
    }
    .Newsletter {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
}
.footer-container {
    max-width: 100%;
    margin: 0 auto;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);

}

.footer-logo-txt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-top: 100px;
}

.footer-description {
    text-align: center;
}

.footer-icons {
    width: 175px;
    height: 25px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  
}
.divider{
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;

}
.copyright{
 text-align: center;
}

}