/* Shared Styles */
* {
    font-family: 'Mulish', sans-serif;

}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    width: 174px;
    height: 52px;

}

/* Navigation Styles */
.nav-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 0 auto;
    align-items: center;
}

.nav-logo {
    width: 48px;
    height: 56.008px;
    display: flex;
    align-items: center;
}

.nav-name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
}

.nav-name-color {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
}

.nav-links {
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.nav-links a {
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}


/* Banner Styles */
.Banner-Section {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    align-items: center;
    color: white;
    text-align: center;

}

.banner h1 {
    padding-top: 110px;
    font-size: 64px;

}

.banner p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;

}

.banner-inputs {
    display: inline-flex;
    padding: 16px;
    margin-right: 20px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-inputs form input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border: 0;

}

.banner-inputs select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border: 0;

}

/* Popular Tour Styles */

.Popular-Tours {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.Popular-Tours .texts h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
}

.image {
    width: 600px;
    height: 550px;
    border-radius: 16px;
    padding-left: 50px;
    margin-top: 20px;

}

/* Destinations Style */

.Destinations {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;

}

.Destinations>h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
}

.first-line-1 {
    display: inline-flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border-radius: 16px;
}

.first-line-1 .text-1 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;

}

.first-line-2 .text-2 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
}

.second-line-1 {
    display: inline-flex;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border-radius: 16px;
}

.second-line-1 .text-1 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;

}

.second-line-2 .text-2 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
}

.second-line-3 .text-3 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
}

.third-line-1 {
    display: inline-flex;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border-radius: 16px;
}

.third-line-1 .text-1 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;

}

.third-line-2 .text-2 {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
}

/* Why Choose Us Styles */
.Why-Us {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;

}

.Why-Us h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
}

.Why-Us h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
}

.hotel-service-container {
    display: flex;
    justify-content: space-between;

}

.hotels {
    margin-top: 20px;
    text-align: left;
    width: 500px;
    height: 290px;
    padding: 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service {
    margin-top: 20px;
    text-align: left;
    width: 500px;
    height: 290px;
    padding: 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.guarantee {
    margin-top: 50px;
    text-align: left;
    width: 500px;
    height: 290px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 350px;
}
/* Deals Section Styles */
.Deals {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;

}

.Deals h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
}

.Deals .img-1 {
    max-width: 1200px;
    /* margin: 0 auto; */
    background-image: url('../images/Group-39.png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    align-items: center;
    color: white;
    text-align: center;
}

.Deals .img-2 {
    max-width: 1200px;
    /* margin: 0 auto; */
    background-image: url('../images/Group-40.png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    align-items: center;
    color: white;
    text-align: center;
}
.txt-con-1 {
    width: 470px;
    height: 350px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 570px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 20px;
    color: #131318;
}
.txt-con-2 {
    width: 470px;
    height: 350px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-right: 570px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    color: #131318;
}
.price{
    color: #FF5400;
}